html, body {
    background-color:rgb(255, 210, 51);
    width: 100%;
    height: 100%;
    
}

.container {
    border: 5px solid purple;
    padding: 20px;
    margin: 3%;
    height: 100%;
   
   
}

.text_title {
    font-size: 45px;
    font-weight: bold;
    margin-right: 43%;
    
}

.title_day {
    border: 5px solid purple;
    width: 45%;
    height: 40px;
    text-align:center
    
}

.title_input {
    border: 5px solid purple;
    width: 100%;
    height: 40px;
    text-align:center
    
}

.title_text {
    border: 5px solid purple;
    width: 100%;
    resize: none;
    

}

.title_name {
    border: 5px solid purple;
    width: 100%;
    height: 40px;
    text-align:center
}

button {
    width: 70px;
    height: 40px;
    font-size: 16px;
    
}

.imgs1{
    position: absolute;
    top: 78%;
    right: 10%;
    
}
.imgs2{
    position: absolute;
    top: 5px;
    right: 60%;
}
.imgs3{
    position: absolute;
    top: 20%;
    right: 10px;
}
.imgs4{
    position: absolute;
    top: 10%;
    right: 80px;
}
.imgs5{
    position: absolute;
    top: 60%;
    right: 65%;
}
