/* 전체 윤곽 */
html, body{
    height: 100%;
    width: 100%;
}
body {
    background-color:rgb(255, 210, 51);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 내용 파트 */
.container {
    border: 5px solid purple;
    padding: 0 3%;
    height: 90%;
    width: 90%;
}
:is(.title_day, .title_input, .title_text, .title_name){
    border: 3px solid purple;
}
.container input::placeholder{
    font-size: 20px;
}

/* header 파트 */
.header{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text_title {
    font-weight: bold;
    font-size: 45px;
}
.title_day {
    width: 45%;
    height: 50%;
}

/* main 파트 */
.main{
    width: 100%;
    height: 60%;
}
.title_input {
    width: 100%;
    height: 15%;
}
.title_text {
    font-size: 18px;
    margin: 1% 0 2% 0;
    width: 100%;
    height: 70%;
}
.title_name {
    width: 100%;
    height: 15%;
}

/* footer 파트 */
.footer{
    width: 100%;
    height: 15%;
    margin-top: 8%; 
}
button {
    background: linear-gradient(180deg, #FFC700 0%, #FFEA79 29.17%, #FFD233 71.87%, #FFD233 100%), #FFFFFF;    font-size: 25px;
    border: 3px solid black;
    box-shadow: black 5px 5px;
    width: 15%;
    height: 60%;
    font-size: 30px;
    font-weight: bold;
}
.footer button:first-child{
    margin-right: 2%;
}

/* 이미지들 */
:is(#imgs1, #imgs2, #imgs3, #imgs4, #imgs5){
    position: absolute;
}
#imgs1{
    width: 15%;
    top: 93%;
    left: 70%; 
}
#imgs2{
    width: 18%;
    top: 2%;
    left: 20%;
}
#imgs3{
    width: 12%;
    top: 38%;
    left: 80%;
}
#imgs4{
    top: 70%;
    left: 40%;
}
#imgs5{
    top: 8%;
    left: 80%;
}
